@charset "UTF-8";
/* CSS Document */
#header{
	
}

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	background: #1976D2;   
	width: 100%;
  	text-align: center;
}
a, h1, h2 { 
	font-weight: 100;
	color: #fff; text-decoration: none;
}
h1, h2 { 
	font-family: 'Arial', serif; margin: 0; 
}
h1 { 

}
h2 { 
	font-size: 1.2em; 
}

/*Main page*/

.songheaderEntry { 
   display: inline-block;
}

.songlist {
	text-align: center;
}

.entry { 
	margin: 5px;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
	height: 30px; 
    padding: 0.8em; 
    background: #79ad02; 
}

.songentry {

	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */

}



button.songbutton{
	color: #fff;
	font-size: 20px;
	border:0 none;
	cursor:pointer;
	margin: 2px;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
	height: 60px; 
    padding: 0.8em; 
    background: #03A9F4;
    z-index: 0;
 

}

/*buttons that appear when you search for a song*/
input[type=submit].searchresultbutton {
	color: #000;
	font-size: 16px;
	border:0 none;
	margin: 2px;
	cursor:pointer;
	margin-left: auto;
    margin-right: auto;
    width: 60%;
	height: 60px; 
    padding: 0.8em; 
    background: #fff; 
    z-index: 1;
}

/*buttons that represent selected songs*/
.searchsongbutton {
	color: #000;
	font-size: 12px;
	border:0 none;
	cursor:pointer;
	margin-left: auto;
    margin-right: auto;
    width: 75px;
    background: #fff; 
    z-index: 1;
}
















