<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>PartyFy</title>
  </head>
  <body>
      <div class= "header">
          <h1>Enter a song!</h1>
          <form action="." method="POST">
              <input type="text" name="songinput">
              <input type="submit" name="my-form" value="add">
          </form>
      </div>

      <div class="songlist">
          {% for song in songlist %}
          <div class="entry" href={{ song.title }} >     
              <form action="." method="POST">
                  <input type="submit" name="my-form" value={{ song.title }}>
              </form>
              {{ song.score }}
          </div>
          {% endfor %}
      </div>

  </body>
</html>