<!DOCTYPE html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>

<html lang="en">
  <head>
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <title>PartyFy</title>


  </head>
  <body>
      <div class= "header">
          <p></p>
          <p></p>

          <h1>Enter a song!</h1>
          <p></p>
          <form action="." method="POST">
              <input type="text" name="songinput" id="songinput" >
              <button class="searchsongbutton" type="submit" name="my-form" value="Search">Search</button>
          </form>
          <p></p>
      </div>

      <div class = "search">
        {% for result in searchlist %}
        <div class = "resultlist" href={{ result["name"] }} >
            <form action = "." method = "GET">
              <input type ="submit" class="searchresultbutton" value = "{{(searchlist.index(result) + 1) ~ ": " ~ result["name"] ~ " - " ~ result["artists"][0]["name"] }}" name = "add-song" id = "{{result["uri"]}}">
            </form>
        </div>
        {% endfor %}
      </div>

      <div><button type="button" class = "playbutton">Start playing!</button></div>


      <div class="songlist">
        
          {% for song in songlist %}
              <form action="." method="POST">
                  <button class="songbutton" type="submit" name="my-form" value={{ song.id }}> {{ song.title }} - {{song.artist}} - {{ song.score }}</button>
              </form>
          {% endfor %}

      </div>
  </body>
</html>


