<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>PartyFy</title>
  </head>
  <body>
      <div class= "header">
          <h1>Enter a song!</h1>
          <form action="." method="POST">
              <input type="text" name="text">
              <input type="submit" name="my-form" value="Add">
          </form>
      </div>

      <div class = "search">
        {% for result in searchlist %}
        <div class = "resultlist" href={{ result["name"] }} >
          <p>
            <form action = "{{url_for('enqueue')}}" method = "POST">
              <input type ="submit" value = "{{(searchlist.index(result) + 1) ~ ": " ~ result["name"] ~ " - " ~ result["artists"][0]["name"] }}" name = "add-song">
            </form>
          </p>
        </div>
        {% endfor %}
      </div>

      <div class="queue">
          {% for song in songlist %}
          <div class="entry" href={{ song.title }} >     
              <p class="songentry">{{song.title}}<input type="button" value={{song.score}}></p>
          </div>
          {% endfor %}
      </div>

  </body>
</html>